.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.images-container {
  width: 1000px;
}

.image-div {
  float: left;
  width: 200px;
  height: 200px;
}

.child-container {
  float: left;
}

.child-span {
  margin-right: 5px;
}

.fa-button {
  cursor: pointer;
  height: 15px;
  margin-right:10px;
}

.image {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: black;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
